.manage-column.column-thumbnail{
    width: 150px;
}
.column-spono{
    vertical-align:  middle!important;
    text-align: center;
}
.column-sponso .bullet{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: darkgreen;
}
.column-sponso .bullet-no {
    background-color: darkred;
}